<head>
    <link href="~/css/my-account.css" rel="stylesheet" asp-append-version="true"/>
</head>

<h1>My Account</h1>

<div class="container-lg">
  <div class="row">
    <div class="col">
      <ul>
          <li>
              <a>
                  My Profile
              </a>
          </li>
          <li>
              <a>
                  My Orders
              </a>
          </li>
          <li>
              <a>
                  My Offers
              </a>
          </li>
      </ul>
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>