<head>
    <link href="~/css/my-account.css" rel="stylesheet" asp-append-version="true"/>
</head>

 <div class="container-lg container-fluid mt-3">
        <div class="row">
          <div class="col-sm-4 p-3">
            <h1>Welcome Diana</h1>

            <ul>
              <li class="list-item">
                <a asp-controller="Product" asp-action="MyAccount"> My Profile </a>
              </li>
              <li class="list-item">
                <a asp-controller="Product" asp-action="MyOrders"> My Orders </a>
              </li>
              <li class="list-item">
                <a asp-controller="Product" asp-action="MyOffers"> My Offers </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-8 p-3">
            <h1>My Offers</h1>
            
          </div>
        </div>
      </div>