<head>
    <link href="~/css/my-account.css" rel="stylesheet" asp-append-version="true"/>
</head>

 <div class="container-lg container-fluid mt-3">
        <div class="row">
          <div class="col-sm-4 p-3">
            <h1>Welcome Diana</h1>

            <ul>
              <li class="list-item-nav">
                <a asp-controller="Product" asp-action="MyAccount"> My Profile </a>
              </li>
              <li class="list-item-nav">
                <a asp-controller="Product" asp-action="MyOrders"> My Orders </a>
              </li>
              <li class="list-item-nav">
                <a asp-controller="Product" asp-action="MyOffers"> My Offers </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-8 p-3">
            <h1>My Orders</h1>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Order</th>
                  <th scope="col">Date</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>1256</td>
                  <td>12/1-2022</td>
                  <td>89&euro;</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>5689</td>
                  <td>24/3-2022</td>
                  <td>126&euro;</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>8498</td>
                  <td>31/5-2022</td>
                  <td>46&euro;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>