body {
    background-color: #f7ecde;
    color: black
}

nav {
    background-color: #fbf8f1;
    font-size: 20px;
    color: black;
    box-shadow: 0 0 15px 0 rgb(153, 153, 153);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    border: 1px solid black;
}

.navbar .navbar-toggler:focus {
    color: #54BAB9;
}

.navbar-nav li a {
    color: black;
}

.navbar-nav > li > a:hover {
    color: #54BAB9;
}

.navbar-nav > li > a:focus {
    color: #54BAB9;
}

.cropped {
    width: 500px;
    height: 200px;
    object-fit: cover;
    object-position: 0% 50%;
}

.navbar-brand {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    max-width: none;
}

.cropped-2 {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 105px;
    object-fit: cover;
    object-position: 0% 50%;
}

.dropdown-menu {
    background-color: #fbf8f1;
    box-shadow: 0 0 15px 0 rgb(153, 153, 153);
}

    .dropdown-menu > li > a:hover {
        color: #54BAB9;
    }

    .dropdown-menu > li > a:focus {
        color: #54BAB9;
    }
