
main {
    /* background: #FBF8F1;*/
    background: white;
}

.section-products .header {
    margin-bottom: 50px;
}

    .section-products .header h3 {
        font-size: 1rem;
        color: #fe302f;
        font-weight: 500;
    }

    .section-products .header h2 {
        font-size: 2.2rem;
        font-weight: 400;
        color: #444444;
    }

.container {
    max-width: 80%;
}

.section-products .single-product {
    margin-bottom: 26px;
}

    .section-products .single-product:hover {
        box-shadow: 0px 0px 10px teal;
    }

.section-products .single-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-height: 430px;
    max-width: 350px;
    overflow: hidden;
}




.section-products .single-product .part-2 .product-title {
    font-size: 1.1rem;
    font-weight: bold
}

.section-products .single-product .part-2 h6 {
    font-size: 0.8rem;
}

.product-price {
    font-weight: 600;
    color: black;
    text-decoration: underline #BA6D54;
}


.header-img {
    background: url("/img/makeup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img-product {
    max-width: 240px;
    min-height: 280px;
    max-height: 300px;
    object-fit: cover;
}

.bi-cart-fill {
    width: 10px;
    height: 10px;
}




.inner {
    position: absolute;
}

.btn {
    font-size: 1vw;
}

.hide {
    display: none;
}

.show:hover + .hide {
    display: block;
    color: red;
}

.btn-group {
    justify-items: self-start;
}

.card-body {
    padding: 0.5rem 0.5rem;
}

.card {
    height: 450px;
    background: none;
    border: none;
}

.cart + .card:hover {
    display: flex;
}


.txt-shadow-custom {
    text-shadow: 1px 2px 3px whitesmoke;
}

.section-products .header h2 {
    font-size: 3.0VW;
    color: #BA6D54;
}

/*Tablet*/
@media screen and (max-width: 768px) {

    .section-products .header h2 {
        font-size: 3.0VW;
    }

    .section-products .header h3 {
        font-size: 2VW;
    }
}
/*Mobile-L*/
@media screen and (max-width: 425px) {

    .section-products .header h2 {
        font-size: 4VW;
    }

    .section-products .header h3 {
        font-size: 2VW;
    }
}
/*
    Mobile-m
*/
@media screen and (max-width: 375px) {
}
/*
    Mobile-s 
*/

@media screen and (max-width: 320px) {
}

@media screen and (min-width: 990px) {
}

@media screen and (min-width: 320px) and (max-width: 990px) {
}
