:root {
    --main-width-icon: 80px;
}



/*PRODUCTS PAGES STYLE START*/
.main-title {
    font-weight: bolder;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.info-icons {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-bottom: 1rem;
}

.info-icons > span > i {
    font-size: 2rem;

}

.icons-product-span {
    padding-bottom: 1.5rem;
}
.fa.fa-chevron-circle-down {
    color: #54BAB9;
}
.product-brand {
    text-transform: uppercase;
}
.product-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-image {
    width: 50%;
    border-radius: 0.5rem;
    padding-bottom: 2.5rem;
   
}

#ingredients-title {
    text-transform: uppercase;
    font-weight: bold;
}
.pricing {
    font-weight: bolder;
}

.section-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.video-section {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
   
}

.sale-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}


.logo-size {
    width: var(--main-width-icon);
}
/* PRODUCTS PAGES STYLE END*/

@media screen and (min-width: 1024px) {
    #spacing-for-video {
        padding-top: 10rem;
    }
}


@media screen and (max-width: 990px) {
   
    #video-section-reverse {
        flex-direction: column-reverse;
        padding-top: 2rem;
    }


    .info-icons > span > i{
        font-size: 1.5rem;
    }

    .info-icons {
        align-self: center;
    }

    .main-title {
        font-size: 1.2rem;
    }
}