<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Razer Cosmetics</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/global-style.css" rel="stylesheet" asp-append-version="true"/>
  
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand d-lg-none" href="#"
          ><img class="cropped-2" src="~/img/logo.png"
        /></a>
        <div class="container-fluid">
          <button
            class="navbar-toggler navbar-text"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav mx-auto nav-justified align-items-end nav-fill w-100"
            >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                  >Products</a
                >
                <ul class="dropdown-menu dropdown-menu-end">
                  <li class="dropdown-item" style="font-weight: bold">Face</li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Foundation</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Blush</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Bronzer</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li class="dropdown-item" style="font-weight: bold">Eyes</li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Mascara</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Eyeliner</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Eyeshadow</a></li>
                  <li><hr class="dropdown-divider"/></li>
                  <li class="dropdown-item" style="font-weight: bold">Lips</li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Lipstick</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Lip Liner</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li class="dropdown-item" style="font-weight: bold">Brows</li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Eyebrow Pencil</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li class="dropdown-item" style="font-weight: bold">Nails</li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Nailpolish</a></li>
                </ul>
              </li>

              <a class="d-none d-lg-block" href="#"
                ><img class="cropped" src="~/img/logo.png" alt=""
              /></a>

              <li class="nav-item dropdown dropdown-center">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                  >About Us</a
                >
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="AboutUs">About Us</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Contact">Contact</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown dropdown-center">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                  >Account</a
                >
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Register</a></li>
                  <li><a class="dropdown-item" href="#">Log In</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="MyAccount">My Account</a></li>
                  <li><a class="dropdown-item" asp-controller="Product" asp-action="Cart">Cart</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  <main>
      @RenderBody()
  </main>
  <footer>

      <div id="footer">

          <div class=one>
              <ul class="build">
                  <a href="#">
                      <h2>FAQ</h2>
                  </a>
                  <a href="#">
                      <h2>Return</h2>
                  </a>
                  <a href="#">
                      <h2>About</h2>
                  </a>






              </ul>
              <ul class="info">
                  <d href="#">
                      Epost some@gmail.com
                  </d>
                  <d href="#">
                      tel 123-4567
                  </d>
              </ul>
              <ul class="content">
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-google"></a>
                  <a href="#" class="fa fa-linkedin"></a>
                  <a href="#" class="fa fa-youtube"></a>
                  <a href="#" class="fa fa-instagram"></a>
              </ul>
          </div>
          <div>
              <ul class="Two">
                  <c href="#">
                      <img class="logo"
                           src="~/img/logo.png">
                  </c>
                  <c href="#">
                      <h2>Razor Cosmetics 2022™</h2>
                  </c>


              </ul>
          </div>
          <div>
              <ul class="Three">
                  <a href="#">
                      <h2> Service</h2>
                  </a>
                  <a href="#">
                      <h2>Cookies</h2>
                  </a>
                  <a href="#">
                      <h2>Gift Card</h2>
                  </a>
                  <a href="#">
                      <h2>Tearms of purchase</h2>
                  </a>
                  <a href="#">
                      <h2>Privacy Policy</h2>
                  </a>
              </ul>
          </div>
      </div>
  </footer>
  <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>

  </body>
</html>
